* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Estilos Login */
.mensLogin{
  text-align: center;
}
.mensLogin{
  text-align: center;
}
 /* .card-body {
  margin-top: 5%;
} */
.card{
  margin-top: 8%;
} 
.imgLogin{
position: relative;
width: 100%;
height: 100%;
left: 0px;
top: 0px;
}
.contenedorLogo {
  width: 60%;
}
.contenedorLogo, .card-body{
  margin:auto;
	text-align:center;
}
.imgLogo {

border-radius: 52px;
margin: auto;
max-width: 100%;
width: 50%;
height: 60%;
margin-top:  10%; 
margin-bottom:0;
}
.error {
  padding: 10px;
  margin: 10px 0;
  background-color: rgba(255, 0, 0, 0.658);
  color: white;
  font-size: bolder;
  text-align: center;
}
/* Estilos Registro */